/* @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap') */

.header-container{
    width: 1900px;
    height: 700px;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 74px;
}
.header-content{
    width: 998px;
    height: 582px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 23%;  
}
.header-content h1{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 48px;
    font-weight: 800;
}

.header-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 18px;
    opacity: 0.7;
    justify-content: center;
    align-items: center;    
}
.btn-primary{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    width: 208px;
    height: 66px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    border: none;
}
.first-section-container{
    width: 1140px;
    height: 1393px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin-bottom: 90px;
}
.introduce-web{
    width: 852px;
    height: 113px;
    margin: 0 auto; 
}
.web-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.web-content h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
}
.web-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    margin-top: -10px;
    opacity: 0.7;
}
.develpoer-container{
    width: 850px;
    height: 240px;
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
    padding: 48px;
    gap: 50px;
    border-radius: 16px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);  
}
.develpoer-container-repo{
    width: 850px;
    height: 240px;
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
    padding: 48px;
    gap: 50px;
    border-radius: 16px;
    background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}
.developer-content{
    width: 477px;
    height: 220px;  
}
.devloper-content h1{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
}
.devloper-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 400;
}
.button{
    box-sizing: border-box;
    opacity: 0.7;
    width: 150px;
    height: 48px;
    line-height: 23px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;  
}
.second-section-container{
    width: 1140px;
    height: 775px;   
    margin: 0 auto;
}
.second-section-content{
    width: 852px;
    height: 113px;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 48px;
}
.second-section-content h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
}
.second-section-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
.second-section-video{   
    width: 1076px;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 31px;
}
.third-section-container{
    width: 1250px;
    height: 460px;   
    margin: 0 auto;
    margin-bottom: 120px;
    margin-top: 50px;
}
.skills-introduce{
    width: 852px;
    height: 113px;  
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills-introduce h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
}
.skills-introduce p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-left: 10px;
}
.skills-container{
    width: 1140px;
    height: 300px;
    display: flex;
    margin: 0 auto;
    margin-top: 48px;
}
.skills-content{
    width: 320px;
    height: 300px;
    gap: 50px;  
    margin: 0 auto;
    margin-top: -10px;
    gap: 50px;
    padding: 20px;
   
}
.skills-content h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
}
.skills-content p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.7;
}
.skills-content a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 700;
}
#html{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);  
}
#css{    
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
#javascript{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}
.fourth-section-container{
    width: 1140px;
    height: 314px;
    background-image: url(../assets/handshake.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);    
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    margin-bottom: 100px;
}
.fourth-section-content{
    width: 1044px;
    height: 186px;
    margin: 64px auto;
    /* border: 2px solid tomato; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    margin-top: -10px;
}
.fourth-section-content h1{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 40px;
    font-weight: 700;
}
.fourth-section-content p{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 400;
    opacity: 0.7;
}
.input-content input[type="text"]{
    width: 548px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;   
    background: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
   
}
.input-content input[type="submit"]{
    width: 120px;
    height: 58px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    border: 0;
    font-size: 18px;
    font-weight: 700;
}
.input-content{
    display: flex;
    gap: 30px;
    margin: 0 auto;
    margin-top:-50px;
    margin-left: 170px;
    
}
.footer-container{
     width: 1800px;
     height: 100px;
     margin: 0 auto;
     display: flex;
     justify-content: space-around;
     border-radius: 16px;

     background: rgba(13, 19, 33, 0.03);
     padding: 32px;
}
.footer-content{
     margin-left: 100px;
}
.footer-link{
    width: 157.01px;
    height: 36px;
    margin-right: 115px;
}
nav ul {
    display: flex;
    align-items: center;
}
nav li a{
    text-decoration: none;
    margin-right: 15px;
    color: white;
    
}  
nav ul li{
    list-style: none;   
}
